@use super::base;
@()

@:base(None, {
    <div>
        <h2>Publications</h2>
        <div class="GalleryGrid">
            <div class="PublicationItem">
                <h5 class="Date">15 July, 2019</h5>
                <a href="/static/zusammenhang_ladenzeiten_absprungraten.pdf" class="Title">
                    <h3 class="Title">
                        Correlation between website loading speeds and user bounce rate
                    </h3>
                </a>
                <p>
                    Language: German - Paper exploring the correlation between how long it takes a website to load its content and the eagerness of users to cancel loading and subsequently leaving the site early.
                </p>
            </div>
            <div class="PublicationItem">
                <h5 class="Date">30 August, 2019</h5>
                <a href="/static/secure_homenetwork.pdf" class="Title">
                    <h3 class="Title">
                        Secure home networks for IoT devices
                    </h3>
                </a>
                <p>
                    Language: German - Paper about state of the art techniques used to build and harden secure IoT home networks via StrongSwan
                </p>
            </div>
            <div class="PublicationItem">
                <h5 class="Date">30 August, 2019</h5>
                <a href="/static/bachelor_thesis.pdf" class="Title">
                    <h3 class="Title">
                        Development of an internationalization solution for the content management system Scrivito including evaluation of the system and application on an international website
                    </h3>
                </a>
                <p>
                    Language: German - Bachelor Thesis - Evaluation and comparison of a content management system regarding different popular industry solutions that was of interest for my employer at the time. The thesis' second part focused on a proof-of-concept of an internationalisation plugin since Scrivito itself was not equipped with a sufficient translation API at the time of writing
                </p>
            </div>
        </div>
    </div>
})
